/* Global CSS
================================= */
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: $darkGrey;
  line-height: 1.65;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $tomaColor;
  text-decoration: none;
}