/* BUTTONS CSS
================================= */
.btn {
  color: #FFF;
  background-color: $mainGreen;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;
  transition: all .3s ease-out;

  &:hover {
    background-color: $tomaColor;
  }

  &--green {
    background-color: $mainGreen;
  }

  &--tomato {
    background-color: $tomaColor;
    border: 1px solid $tomaColor;
    transition: all .3s ease-out;

    &:hover {
      background-color: rgba(0, 0, 0, .4);
      border: 1px solid $aliceBlue;
      transform: scale(1.03);
    }
  }

  &--medium {
    padding: .32rem .75rem;

    @mixin atSmall {
      padding: .4rem 1rem;
    }
  }

  &--large {
    padding: 1.1rem 1.9rem;

    @mixin atSmall {
      font-size: 1.25rem;
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid #FFF;
  }

  &--inline {
    display: inline-block;
  }

  &--block {
    width: 100%;
    text-align: center;
  }


}
