/* HEADLINE CSS */
.headline {
  font-size: 1.9rem;
  font-weight: 300;
  color: $darkGrey;

  @mixin atSmall {
    font-size: 2.2rem;
  }

  &--center {
    text-align: center;
  }

  &--white {
    color: #FFF;
  }

  &--less-margin {
    margin-bottom: 1.3rem;
    margin-top: 0;
  }

  &--icon {
    position: relative;
    top: 20px;
    margin-right: 10px;
    margin-left: 0;
    margin-bottom: 0;
    display: inline-block;
  }
}
