.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }


  &--green {
/*    background-color: $primary-color;*/
  }

  &--no_white {
    background-color: $aliceBlue;
  }

  &--services,
  &--skills,
  &--getintouch {
    background-color: $aliceBlue;

  }

  &--getintouch {
    clear: both;
  }

}
