.page-section {
  padding: 1.2rem 0;

  @mixin atMedium {
    padding: 4.5rem 0;
  }


  &--green {
    background-color: $mainGreen;
  }

  &--no_white {
    background-color: $aliceBlue;
  }

  &--services {
    background-color: $aliceBlue;

  }

}
