/* PORTFOLIO CSS
================================= */
.page-section--portfolio {

  .view-all-link {
    float: left;
    height: audio;
    width: 100%;
    clear: both;
  }

}
.p-item {
  position: relative;
  margin: 10px;

  &--overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    color: #FFF;
    overflow: hidden;
    background-color: $darkGrey;
    transition: all .5s ease;
    text-align: center;

    &__content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      text-align: center;
      opacity: 1;
    }

    &__title {
      font-weight: 300;
    }

  }

  &:hover  {
    .p-item--overlay {
      height: 100%;
      right: 0;
      opacity: .9;
    }
  }

  &--tag {
    .tags {
      color: inherit;
      font-size: 15px;
      font-style: italic;
    }
  }


}
