.row {

  @mixin clearfix;

  &--gutters {
    margin-right: -45px;
  }
  &--gutters > div {
    padding-right: 45px;
  }

  &--less_gutters {
    margin-right: -30px;
  }

  &--less_gutters > div {
    padding-right: 30px;
  }


  &__3 {
    float: left;
    width: 33.33%;
  }

  &__medium-3 > div  {
    width: 100%;
  }


  @mixin atMedium {
    &__medium-3 {
      float: left;
      width: 25%;
    }

    &__medium-4 {
      float: left;
      width: 33.33%;
    }

    &__medium-8 {
      float: left;
      width: 66.66%;
    }
  }


  /* Begin equal-height-until-medium
  ========================================= */

   &--equal-height-until-medium {
     @mixin atMedium {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }

  .flexbox &--equal-height-until-large {
    @mixin atLarge {
      display: flex;
    }

    & > div {
      float: none;
      display: flex;
    }
  }


}
