.service {
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 40px;
  text-align: center;
  transition: all .3s ease-out;
  opacity: .8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  width: 100%;


&--icon__wrapper {
  position: relative;
  width: 100%;
}

&--icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}


&:hover {
  background-color: $aliceBlue;
  transform: scale(1.04);
  opacity: 1;
}

  &__title {
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
    padding-top: 2.8125rem;
  }

  img {
    max-width: 60px;
    height: auto;
  }
}
