.site-footer {
  background-color: $mainGreen;
  color: #FFF;
  padding: .75rem 0;

  @mixin atMedium {
    font-size: 1.1rem;
  }

  &--info {
    text-align: center;
  }

  &--links {
    list-style: none;
    margin-right: auto;
    margin-left: auto;

    @mixin atMedium {
      float: left;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 50px;
      margin-bottom: 30px;

    @mixin atMedium {
      margin-bottom: 0;
    }


      &>a {
        color: #FFF;
        line-height: 4.5rem;
        transition: all .3s ease-out;


        &:hover {
          color: $tomaColor;
        }
      }
    }
  }

  &--btn {
    text-align: center;

    @mixin atMedium {
      display: inline-block;
      margin-top: 8px;
    }

  }

}
