.site-footer {
  background-color: $darkGrey;
  color: #FFF;
  padding: .75rem 0;

  @mixin atMedium {
    font-size: 1.1rem;
  }

  &--info {
    text-align: center;

    @mixin atMedium {
      text-align: left;
    }
  }

  &--links {
    list-style: none;
    margin-right: auto;
    margin-left: auto;

    @mixin atMedium {
      float: left;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline-block;
      margin-right: 50px;
      margin-bottom: 30px;

    @mixin atMedium {
      margin-bottom: 0;
    }


      &>a {
        color: #FFF;
        line-height: 4.5rem;
        transition: all .3s ease-out;


        &:hover {
          color: $tomaColor;
        }
      }
    }
  }

  &--btn {
    text-align: center;

    @mixin atMedium {
      display: inline-block;
      margin-top: 8px;
    }

  }

}

.secondary-nav {
  float: left;
  margin-right: 10px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    font-size: 15px;
    display: inline-block;
    text-align: center;  
    margin-right: 10px;  

    &:last-child {
      margin-right: 0;
    }

    @mixin atMedium {
      display: inline-block;
      margin-right: 15px;
      margin-bottom: 0; 
    }
  }

  a {
    color: #fff;
    line-height: 68px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $primary-color;
    }
  }
}
