.unstyled {
    margin: 0;
    padding: 0;
}

.unstyled,
.unstyled-btn {
    li {
        list-style: none;
        display: inline-block;
    }
}

.unstyled-btn {
    margin-top: 60px;
    
    li {
        margin-right: 15px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}

.fa-styled {
    font-size: 2.626rem;
    color: #e5e5e5;
    margin-right: 20px;
    transition: all 0.3s ease-in;
    
    &:hover {
        color:#34495e;
        cursor: pointer;
        transform: scale(1.02);
    }
}